<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.capstone.jobapplication.jobbridge">

    <uses-permission android:name="android.permission.INTERNET" />

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <uses-permission android:name="android.permission.READ_CALENDAR" />
    <uses-permission android:name="android.permission.WRITE_CALENDAR" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <!--
     The following two permissions are not required to use
     Google Maps Android API v2, but are recommended.
    -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <permission
        android:name="com.capstone.jobapplication.jobbridge.permission.MAPS_RECEIVE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.capstone.jobapplication.jobbridge.permission.MAPS_RECEIVE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:windowSoftInputMode="stateUnchanged|adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ProfileActivity"
            android:windowSoftInputMode="stateUnchanged" />

        <meta-dataktj
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <!--
        premium key
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyD9HyRKeWfipvel61dRZaffJPVCj_7tOAI" />
        -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyD9HyRKeWfipvel61dRZaffJPVCj_7tOAI" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_notification" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorAccent" />

        <activity android:name=".fcm.FcmActivity" />
        <activity android:name=".map.LocationFragment" />
        <!-- [START firebase_service] -->
        <service android:name=".fcm.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <!-- [END firebase_service] -->
        <!-- [START firebase_iid_service] -->
        <service android:name=".fcm.MyFirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>
        <!-- [END firebase_iid_service] -->
        <activity
            android:name=".JobDetailActivity"
            android:windowSoftInputMode="stateUnchanged" />
        <activity android:name=".JobApplicationDetailActivity" />
        <activity android:name=".SubscriptionActivity"></activity>
        <activity android:name=".SignInActivity"></activity>
        <activity android:name=".SignOutActivity"></activity>
    </application>

</manifest>